.rdw-editor-toolbar {
  background-color: #1e2732 !important;
  border-radius: 10px !important;
}

.rdw-option-wrapper {
  background-color: #353e48 !important;
  border-radius: 10px !important;
  padding: 10px !important;
}

.rdw-dropdown-wrapper {
  background-color: #353e48 !important;
  border-radius: 10px !important;
}
