@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto;
  box-sizing: border-box;
}

.body__fix {
  overflow-y: hidden;
}

.swiper-pagination-bullet-active {
  background-color: #fd9808 !important;
}

.swiper-pagination-bullet {
  background-color: #fd9808 !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fd9808 #15202b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #15202b;
}

*::-webkit-scrollbar-thumb {
  background-color: #fd9808;
  border-radius: 50px;
  border: 0px solid #15202b;
}
